# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Qt Creator project files
*.pro
*.pro.user

# Executable folder
Puzzle-build-desktop/

# temporary office documents
*~$*